In [181]:
# Data Types
x = 5 # integer
y = 3.14 # float
z = "Hello World!" # string
a = ['apple', 'banana', 'cherry'] # list
b = ('apple', 'banana', 'cherry') # tuple
c = {'name': 'John', 'age': 30} # dictionary
d = ('1', '2', '3') # tuple

In [182]:
#lists
print (a[2])
a[1]="mangoes"
print (a)
a[2]="pineapple"
print (a)
a.append("orange")
print (a)
a.remove("orange")
print (a)
a.append("apple")
print (a)
#list loop
for e in a:
    print (e)

cherry
['apple', 'mangoes', 'cherry']
['apple', 'mangoes', 'pineapple']
['apple', 'mangoes', 'pineapple', 'orange']
['apple', 'mangoes', 'pineapple']
['apple', 'mangoes', 'pineapple', 'apple']
apple
mangoes
pineapple
apple

In [183]:
#list comprehension
newlist = []

for f in a:
  if "a" in f:
    newlist.append(x)

print(newlist)

[5, 5, 5, 5]

In [184]:
#sorting
a.sort()
print (a)

['apple', 'apple', 'mangoes', 'pineapple']

In [185]:
#joinlist
v=["a","b","c","d","e"]
av= a+v
print (av)

['apple', 'apple', 'mangoes', 'pineapple', 'a', 'b', 'c', 'd', 'e']

In [186]:
#tuples
print (b)
print (b[0])

#update tuple
t = list(b)
t[1] = "banana"
b = tuple(t)
print(b)

('apple', 'banana', 'cherry')
apple
('apple', 'banana', 'cherry')

In [187]:
#join tupples
tuplejoin= b+d
print(tuplejoin)

('apple', 'banana', 'cherry', '1', '2', '3')

In [219]:
# Variables
name = "John Smith"
age = 50
is_student = True # boolean

In [220]:
print (x)

pineapple

In [221]:
# Operators
result = x + y  # addition
result2 = x - y  # subtraction
result3 = x * y  # multiplication
result4 = x / y  # division
result5 = x ** 2  # exponentiation
result6 = x % 2  # modulus

TypeError: can only concatenate str (not "float") to str

In [222]:
print (result)

8.14

In [223]:
print (result2)
print (result3)
print (result4)
print (result5)
print (result6)

1.8599999999999999
15.700000000000001
1.592356687898089
25
1

In [224]:
# Control Flow
if age > 18:
    print(name, "is an adult.")
elif age == 18:
    print(name, "is just turned adult.")
else:
    print(name, "is a minor.")

John Smith is an adult.

In [225]:
# Loops
# For loop
for i in range(101):
    print(i)

# For loop with list
for x in a:
    print(x)

# While Loop
count = 0
while count < 6:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
apple
apple
mangoes
pineapple
0
1
2
3
4
5

In [244]:
print (age)

50

In [251]:
# Conditional operator 
print("Access granted.") if age >= 18 else print("Access denied.")

Access granted.

In [275]:
#fucntions
def add_numbers(x, y,z,w):
    return x + y + z + w

print(add_numbers(3, 5,6,7))

21

In [314]:
# Functions
def person(name, age):
  print(name , age)

person("arslan", "25")

arslan 25

In [315]:
#functions
def add_n(num1,num2):
    sum=num1+num2
    return sum
result=add_n(100,100)
print ('sum is:',result)

sum is: 200

In [383]:
#functions
def my_info(country = "PAKISTAN"):
  print("I am from " + country)

my_info("AUSTRALIA")
my_info("CANADA")
my_info("USA")
my_info("BRAZIL")
my_info()
my_info()

I am from AUSTRALIA
I am from CANADA
I am from USA
I am from BRAZIL
I am from PAKISTAN
I am from PAKISTAN

In [384]:
#class
class MyClass:
  u = 5

p1 = MyClass()
print(p1.u)

5

In [378]:
#classes 
class Human:
    def __init__(self,name,color,weight):
        self.name=name
        self.color=color
        self.weight=weight
    def introduce_self(self):
        print("my name is " +self.name)
        print("my color is " +self.color)
        print("my weight is " +self.weight)

In [379]:
    arslan=Human("arslan","white","67")
    moneeb=Human("moneeb","white","75")
    dryasir=Human("DrYasir","white","85")
    ismail=Human("ismail","white","60")

In [380]:
    arslan.introduce_self()

my name is arslan
my color is white
my weight is 67

In [381]:
    moneeb.introduce_self()

my name is moneeb
my color is white
my weight is 75

In [382]:
# Classes
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def say_hello(self):
        print("Hello, my name is " + self.name)
        
p1 = Person("John", 30)
p1.say_hello()

Hello, my name is John